@model IEnumerable<Mondays.Models.OrderHeader>
@using Mondays.Utility

@{
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";

    var status = Context.Request.Query["status"];

    var pending = "text-primary";
    var all = "text-primary";
    var inprocess = "text-primary";
    var completed = "text-primary";
    var rejected = "text-primary";

    switch (status)
    {
        case "pending":
            pending = "active text-white";
            break;
        case "inprocess":
            inprocess = "active text-white";
            break;
        case "completed":
            completed = "active text-white";
            break;
        case "rejected":
            rejected = "active text-white";
            break;
        default:
            all = "active text-white";
            break;
    }

}
<br />
<div class="border p-3">
    <div class="d-flex justify-content-between mb-3">
        <div class="p-2">
            <h2 class="text-primary">Λίστα παραγγελιών </h2>
        </div>
        <div class="p-2">
            <ul class="list-group list-group-horizontal-sm">
                <a style="text-decoration:none;" asp-controller="Order"
                   asp-action="Index" asp-route-status="inprocess">
                    <li class="list-group-item @inprocess">Σε εξέλιξη</li>
                </a>
                <a style="text-decoration:none;" asp-controller="Order"
                   asp-action="Index" asp-route-status="pending">
                    <li class="list-group-item @pending">Εκκρεμεί πληρωμή</li>
                </a>
                <a style="text-decoration:none;" asp-controller="Order"
                   asp-action="Index" asp-route-status="completed">
                    <li class="list-group-item @completed">Ολοκληρώθηκε</li>
                </a>
                <a style="text-decoration:none;" asp-controller="Order"
                   asp-action="Index" asp-route-status="rejected">
                    <li class="list-group-item @rejected">Απορρίφθηκε</li>
                </a>
                <a style="text-decoration:none;" asp-controller="Order"
                   asp-action="Index" asp-route-status="all">
                    <li class="list-group-item @all">Όλα</li>
                </a>
            </ul>
        </div>
    </div>
    <br />

    <div class="container-fluid">
        <table class="table table-striped table-bordered" id="tblData" style="width:100%">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PhoneNumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OrderDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OrderStatus)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OrderTotal)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PhoneNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OrderDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OrderStatus)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OrderTotal)
                        </td>
                        <td>
                            <div class="tools">
                                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary btn-xs"><i class="fa fa-list"></i></a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
    @section Scripts{ 
        <script>
            var dataTable;
            $(document).ready(function () {
                var url = window.location.search;
                if (url.includes("inprocess")) {
                    loadDataTable("GetOrderList?status=inprocess");
                }
                else {
                    if (url.includes("pending")) {
                        loadDataTable("GetOrderList?status=pending");
                    }
                    else {
                        if (url.includes("completed")) {
                            loadDataTable("GetOrderList?status=completed");
                        }
                        else {
                            if (url.includes("rejected")) {
                                loadDataTable("GetOrderList?status=rejected");
                            }
                            else {
                                loadDataTable("GetOrderList?status=all");
                            }
                        }
                    }
                }
            });

            function loadDataTable(url) {
                dataTable = $('#tblData').DataTable({
                    "language": {
                        "url": '..\\..\\locale\\DataTable-GR.json'
                    },
                    "pageLength": 25,
                    "lengthChange": false,
                    "info": false,
                    "searching": true,
                    "dom": 'lrtip',
                    "scrollX": false,
                    "ajax": {
                        "url": "/Admin/order/" + url
                    },
                    "columns": [
                        { "data": "id", "width": "10%" },
                        { "data": "name", "width": "15%" },
                        { "data": "phoneNumber", "width": "15%" },
                        {
                            "data": "orderDate", "width": "15%",
                            render: function (data, type, row) {
                                return moment(row.orderDate).format('dddd DD/MM/YYYY HH:mm:ss');
                            }
                        },
                        { "data": "orderStatus", "width": "15%" },
                        { "data": "orderTotal", "width": "15%" },
                        {
                            "data": "id",
                            "render": function (data) {
                                return `
                            <div class="text-center">
                                <a href="/Admin/Order/Details/${data}" class="btn btn-success text-white" style="cursor:pointer">
                                    <i class="fas fa-edit"></i> 
                                </a>
                            </div>
                           `;
                            }, "width": "5%"
                        }
                    ]
                });

                setInterval(function () {
                    dataTable.ajax.reload();
                }, 3000);
            }

        </script>

    }
