@model Mondays.Models.CustomerPreferences

@{
    ViewData["Title"] = "Λεπτομέρειες";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Λεπτομέρειες</h1>

<div>
    <h4>Προτιμήσεις</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicationUser)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ApplicationUser.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.ProductCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sweetener)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sweetener.SweetenerName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sweetness)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sweetness.SweetnessName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Topping)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Topping.ToppingName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MilkTypes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MilkTypes.MilkTypeName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Origins)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Origins.OriginName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IceCubes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IceCubes.IceCubeName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Notes)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Επεξεργασία</a> |
    <a asp-action="Index">Επιστροφή στην Λίστα</a>
</div>
